html {
    font-family: "Inter", sans-serif;
}

figcaption {
    text-align: center;
    font-size: 12px;
    float: right;
    padding: 0 60px;
}

img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

h1 {
    margin: 10px;
    padding: 20px, 0;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

p,
li {
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-weight: 400;
    outline: none !important;
}

img {
    -webkit-filter: drop-shadow(5px 7px 5px #222);
    filter: drop-shadow(5px 7px 5px #222);
}

img.dark-theme {
    -webkit-filter: drop-shadow(5px 7px 5px#fff);
    filter: drop-shadow(5px 7px 5px #fff);
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    --text-color: #121212;
    --bkg-color: #fff;
    --anchor-color: #121212;
}

body.dark-theme {
    --text-color: #eee;
    --text-color: rgba(256, 256, 256, 0.87);
    --bkg-color: #121212;
    --anchor-color: #ffb4ef;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #eee;
        --text-color: rgba(256, 256, 256, 0.87);
        --bkg-color: #121212;
        --anchor-color: #ffb4ef;
    }

    body.light-theme {
        width: 1000px;
        margin: 0 auto;
        padding: 0 20px 20px 20px;
        --text-color: #121212;
        --bkg-color: #fff;
        --anchor-color: #121212;
    }

    img {
        -webkit-filter: drop-shadow(5px 7px 10px#ffb4ef);
        filter: drop-shadow(5px 7px 10px #ffb4ef);
    }

    img.light-theme {
        -webkit-filter: drop-shadow(5px 7px 5px #222);
        filter: drop-shadow(5px 7px 5px #222);
    }
}

body {
    color: var(--text-color);
    background: var(--bkg-color);
}

a {
    color: var(--anchor-color);
}
